In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv(r'C:\Users\KUSH\Documents\dataset\p1\Dataset\train.csv')

In [3]:
train.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15,MULTIPLE_OFFENSE
0,CR_102659,04-JUL-04,0,36,34,2,1,5,6,1,6,1,174,1.0,92,29,36,0
1,CR_189752,18-JUL-17,1,37,37,0,0,11,17,1,6,1,236,1.0,103,142,34,1
2,CR_184637,15-MAR-17,0,3,2,3,5,1,0,2,3,1,174,1.0,110,93,34,1
3,CR_139071,13-FEB-09,0,33,32,2,1,7,1,1,6,1,249,1.0,72,29,34,1
4,CR_109335,13-APR-05,0,33,32,2,1,8,3,0,5,1,174,0.0,112,29,43,1

In [4]:
x_train = train.loc[:, ['X_1','X_2','X_3','X_4','X_5','X_6','X_7','X_8','X_9','X_10','X_11','X_12','X_13','X_14','X_15']].fillna(value=0)

In [5]:
x_train = np.array(x_train.fillna(value=0))

In [6]:
y_train = np.array(train['MULTIPLE_OFFENSE'].fillna(value=0))

In [26]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [27]:
test = pd.read_csv(r'C:\Users\KUSH\Documents\dataset\p1\Dataset\Test.csv')

In [28]:
x_test = test.loc[:, ['X_1','X_2','X_3','X_4','X_5','X_6','X_7','X_8','X_9','X_10','X_11','X_12','X_13','X_14','X_15']].fillna(value=0)

In [29]:
y_pred = knn.predict(x_test)

In [30]:
inc = test['INCIDENT_ID']
sub = pd.DataFrame({'INCIDENT_ID': inc, 'MULTIPLE_OFFENSE':y_pred})
su = sub.to_numpy()
su.dtype

dtype('O')

In [31]:
import matplotlib.pyplot as plt

In [32]:
from numpy import savetxt

In [34]:
savetxt('submission2.csv', su, fmt = '%s', delimiter= ',', header= 'INCIDENT_ID,MULTIPLE_OFFENSE ')

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_train, knn.predict(x_train))

0.9765677397719651