In [1]:
import pandas as pd

In [5]:
data = pd.read_csv(r'C:\Users\KUSH\Documents\dataset\Logistic_Regression\advertising.csv')

In [6]:
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [37]:
x = data.loc[:,['Daily Time Spent on Site','Daily Internet Usage','Age','Area Income','Male' ]].values

In [38]:
y = data.loc[:,['Clicked on Ad']].values

## Splitting the data into training with 75% and test data into 25%

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest, ytrain, ytest = train_test_split(
    x,y, test_size = 0.25, random_state= 0 )

In [40]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(xtrain)
X_test = sc.transform(xtest)

## Logistic Regression Model

In [41]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train , ytrain)

C:\Users\KUSH\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\KUSH\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
y_pred = classifier.predict(X_test)

## Confusion matrix

In [43]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, y_pred)

In [44]:
cm

array([[135,   1],
       [  4, 110]], dtype=int64)

TruePositive + TrueNegative = 105 + 14 = 119
FalsePositive + FalseNegative = 7 + 124

## Accuracy Metrics

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
accuracy_score(ytest,y_pred)

0.98